apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: development

resources:
  - ../../base
  - dragonfly.yaml

patches:
  - target:
      kind: Deployment
      name: course-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

labels:
  - includeSelectors: true
    pairs:
      environment: development
