apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- ingress.yaml

images:
- name: dmitrytimchuk/course-app
  newTag: latest

labels:
- includeSelectors: true
  pairs:
    app: course-app
    managed-by: kustomize
